.fundingList {
    text-align: left;
    padding: 50px 11% 10%;
}

.fundingTitle{
    color: #888;
    height: 11px;
    font-size: 14px;
}

.fundingList h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left; /* 왼쪽 정렬 */
    margin-bottom: 10px;
}

.fundingList .titleLine {
    width: 100%;
    height: 2px;
    background-color: #b29c59; /* 금색 줄 색상 */
    margin: 10px 0; /* 제목과 줄 사이 간격 */
}


.filter {
    margin-bottom: 20px; /* 아래쪽 여백 */
}

.customSelect {
    position: relative;
    display: inline-block;
}

.customSelect select {
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 50px;
    background-color: #fff;
    appearance: none; /* 기본 드롭다운 화살표 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 7px 13px;
    width: 83px;
}

.customSelect::after {
    content: "▼";
    font-size: 12px;
    color: #939090;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}



.fundingCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 좌우 간격 균등 배치 */
}

.fundingCard {
    width: 22%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.fundingCard:hover {
    transform: scale(1.05);
}

.fundingCard img {
    width: 100%;
    height: auto;
}

.fundingInfo {
    padding: 15px;
}

.fundingInfo h3 {
    font-size: 18px;
    margin: 10px 0;
}

.fundingStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}

.progressBar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
}

.fundingListProgressBar {
    height: 6px;
    background-color: #b39c59;
    border-radius: 5px;
}

.loadMoreContainer {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 20px;
}

.loadMore {
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    color: #b29c59;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s;
}

