.fundingContributeContainer {
    display: flex;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 5% 7% 5% 10%;
    /*background-color: #f8f9fa;*/
}

.fundingContributeSectionDivider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #e2e2e2;
    width: 96%;
}

.fundingContributeContent {
    flex: 2;
    display: flex;
    gap: 11%;
}

.fundingContributeContentInfo {
    width: 50%;
}

.fundingContributeLeft {
    /* flex: 2 1; */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 79%;
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 2%;

}


.fundingContributeHeader h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #343a40;
}

.fundingContributeMainInfo {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.fundingContributeMainImage {
    width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.fundingContributeDetails {
    flex-grow: 1;
    font-size: 16px;
}

.fundingContributeDetails h3 {
    font-size: 20px;
    color: #495057;
    margin-bottom: 10px;
}

.fundingContributeAmount {
    color: #343a40;
    font-weight: bold;
}

.fundingContributeAmount span {
    color: #b29c59;
    font-weight: bold;
}

.sectionTitle {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #b29c59;
    font-weight: bold;
    gap: 2%;
}

.fundingContributeRewardInfo {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.fundingContributeRewardItem {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f1f3f5;
    border-radius: 8px;
    margin-bottom: 10px;
    gap: 15px; /* 이미지와 텍스트 사이 간격 조정 */
    transition: background-color 0.3s;
}

.rewardIcon {
    width: 40px; /* 이미지 크기 조정 */
    height: 40px;
    margin-right: 15px;
}
.fundingContributeRewardItem:hover {
    background-color: #e9ecef;
}

.rewardText h5 {
    font-size: 18px;
    color: #495057;
    margin: 0;
}

.rewardText p {
    color: #868e96;
}

.rewardPrice {
    font-size: 16px;
    font-weight: bold;
    color: #343a40;
    margin-top: 5px;
}

.fundingContributeSupporterInfo, .fundingContributeShippingInfo {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.shippingDetails {
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shippingDetails label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #495057;
}

.shippingDetails label span {
    display: inline-block;
    width: 80px;
    text-align: left;
}

.shippingDetails input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
}

.fundingContributeSummary {
    /* border: 2px solid #b29c59; */
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 5%;
    height: 337px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.fundingContributeSummary h4 {
    font-size: 22px;
    color:#b29c59;
    font-weight: bold;
    margin-bottom: 15px;
}

.totalAmount {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.fundingContributeSummary label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #495057;
}

.noticeText {
    font-size: 14px;
    color: #6c757d;
    line-height: 1.5;
    margin-top: 10px;
    padding-left: 10px;
    border-left: 3px solid #b29c59;;
}

.fundingContributeButton {
    width: 100%;
    padding: 12px;
    background-color: #343a40;
    color: #b29c59;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.fundingContributeButton:hover {
    background-color: #495057;
}
