.fundingDetailOutForm {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 54px ;
    font-family: 'Noto Sans', sans-serif;
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    border: none;
    border-top: 1px solid #eeeeee; /* 경계선 색상 */
    margin: 20px 0; /* 위아래 여백 */
    width: 100%; /* 가로 길이 */
}

.notifyButton {
    background: none;
    border: 1px solid #c9a74e;
    color: #c9a74e;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}


.artistContainer {
    display: flex;
    align-items: center; /* 텍스트와 버튼 수평 정렬 */
    gap: 8px; /* 작가명과 버튼 사이 간격 */
    margin-bottom: 16px; /* 아래 컨텐츠와 간격 */
}

.artistInfo {
    font-size: 14px;
    color: #555;
}

.artistInfoButton {
    background: #fff;
    border: 1px solid #b29c59;
    color: #b29c59;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}





.fundingDetail {
    display: flex;
    flex-direction: column;
    /*gap: 30px;*/
}

.fundingHeader {
    display: flex;
    /*gap: 250px;*/
    gap: 134px;
    align-items: flex-start;
}

.imageWrapper {
    width: 100%;
    max-width: 568px;
    aspect-ratio: 4 / 3;
    /*border-radius: 12px;*/
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 원본 비율을 유지하며 보여줌 */
}

.infoSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 13%;
}

.fundingTitle {
    /*font-size: 22px;*/
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.statsContainer {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 5px; !* 각 항목 간 간격을 줄임 *!*/
}

.statContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}


.statItem {
    display: flex;
    justify-content: space-between; /* 양쪽 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    gap: 8px; /* 라벨과 값 사이 간격 */
    padding: 2px 0; /* 상하 간격 최소화 */
}

/*.statLabel {*/
/*    font-size: 16px;*/
/*    color: #555;*/
/*    font-weight: bold;*/
/*}*/

.statValue {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.statContainer {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.statLabel {
    font-size: 14px;
    font-weight: bold;
    color: #2c2c2c;
    margin-bottom: 5px;
}

/*.statValue {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    color: #333;*/
/*}*/


.statValueTotalAmount {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px; /* 둥근 모서리 */
    font-size: 17px; /* 적절한 크기 */
    font-weight: bold;
    margin-left: 5px; /* 라벨과 간격 */
    text-align: center;
    color: #b29c59;

}.statValueRemainingDays {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fdecea; /* 연한 빨간 배경 */
    color: #e74c3c; /* 진한 빨간 글자 */
    border-radius: 20px; /* 둥근 모서리 */
    font-size: 16px; /* 적절한 크기 */
    font-weight: bold;
    margin-left: 5px; /* 라벨과 간격 */
    text-align: center;
     width: 12%;

}

.statValueAchievementRate {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px; /* 둥근 모서리 */
    font-size: 17px; /* 적절한 크기 */
    font-weight: bold;
    margin-left: 5px; /* 라벨과 간격 */
    text-align: center;
}

.achievementRate {
    color: #b29c59; /* 달성률에만 적용되는 폰트 색상 */
}

.additionalInfo {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.fundButton {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: bold;
    width: 55%;
    color: #b29c59;
    /* margin-left: -2%; */
    margin-top: 7%;
    background-color: #333;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}


.titleLine{
    width: 100%;
    border-top: 2px solid #b29c58;
    margin: 10px 0; /* 제목과 줄 사이 간격 */
}


.sectionDivider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.fundingDetailContentContainer {
    display: flex;
    gap: 20px;
}

/*프로젝트 계획 start*/
.projectPlan {
    flex: 2;
}

.showArtworks {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.projectDetails {
    margin-top: 20px;
}

.projectDetails p {
    white-space: pre-wrap; /* 줄바꿈과 띄어쓰기 모두 유지 */
}

/*.artwork-image {*/
/*    width: 100%;*/
/*    max-width: 400px;*/
/*    margin-top: 20px;*/
/*    border-radius: 8px;*/
/*}*/
/*프로젝트 계획 end*/



/*리워드 부분 start */
.rewardSelection {
    flex: 1;
}

.rewardSelection h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/*선택된 리워드  start*/
.rewardCard {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.rewardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.rewardHeader h5 {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.rewardItem.disabled {
    pointer-events: none; 
    opacity: 0.5;
    cursor: not-allowed;
}

.closeButton {
    background: none;
    border: none;
    font-size: 18px;
    color: #b39c59;
    cursor: pointer;
}

.rewardDescription {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 15px;
}

.quantitySelector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantitySelector button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.quantitySelector input {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 16px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}

.rewardButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #b39c59;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*선택된 리워드  end*/
.rewardButton:disabled {
    background-color: #666; /* 비활성화 상태일 때 버튼 배경색 */
    color: #999; /* 비활성화 상태일 때 텍스트 색상 */
    cursor: not-allowed; /* 비활성화 상태일 때 커서 */
}



.rewardSelection {
    max-height: 1000px; /*리워드 부분 스크롤 */
    overflow-y: auto;
    padding: 20px;
    /*border: 1px solid #e0e0e0;*/
    border-radius: 8px;
}

/*리워드 리스트 start*/
.rewardList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 17px;
}

.rewardItem {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rewardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rewardHeader h5 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.rewardLeft {
    font-size: 14px;
    color: #ff6666;
    background-color: #ffe6e6;
    padding: 4px 8px;
    border-radius: 12px;
}

.rewardDescription {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

/*.reward-details {*/
/*    font-size: 14px;*/
/*    color: #999;*/
/*    margin-top: 5px;*/
/*}*/
/*리워드 리스트 end*/


/*리워드 부분 end */






















/*.artworkViewContainer {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.9);*/
/*    z-index: 1000;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.gallery {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 20px;*/
/*    perspective: 1500px; !* 3D 원근감 *!*/
/*}*/

/*.card {*/
/*    width: 250px;*/
/*    height: 400px;*/
/*    background-color: #333;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);*/
/*    overflow: hidden;*/
/*    transform-style: preserve-3d; !* 3D 효과 *!*/
/*}*/

/*.card img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    border-radius: 5px;*/
/*    object-fit: cover;*/
/*}*/

/*.card:hover {*/
/*    transform: scale(1.05);*/
/*}*/

/*.closeButton {*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    right: 20px;*/
/*    background-color: #f44336;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 15px;*/
/*    font-size: 16px;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*.loadingContainer {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    font-size: 24px;*/
/*    color: #555;*/
/*}*/

/*.controls {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    z-index: 10;*/
/*}*/

/*.navButton {*/
/*    background-color: black;*/
/*    color: white;*/
/*    font-size: 24px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    padding: 10px;*/
/*    border-radius: 50%;*/
/*    opacity: 0.7;*/
/*    transition: opacity 0.3s ease;*/
/*}*/

/*.navButton:hover {*/
/*    opacity: 1;*/
/*}*/
/*.navButton:disabled {*/
/*    opacity: 0.3;*/
/*    cursor: not-allowed;*/
/*}*/
