.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* 헤더 너비 제한 */

}
.galleryDetailContainer {
    margin: 20px auto;
    padding: 0;
    width: 1200px;
}

.pageTitle {
  display: flex;
  margin: 50px 0px 10px 0px;
  text-align: left;
  align-items: center; /* 콘텐츠 중앙 정렬 */
}

.titleSeparator {
  border: none;
  height: 2px;
  background-color: #b39c59;
  margin: 10px auto 20px;
  width: 100%; 
}

.galleryDisplayArea {
  display: flex;
  flex-direction: column;
  align-items: center; /* 콘텐츠를 중앙으로 */
}

.smallImageArea {
  width: 1000px;
  display: flex;
  align-items: flex-start; /* 이미지와 텍스트 위쪽 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  gap: 50px; /* 이미지와 텍스트 사이 간격 */
}

.smallImage {
  max-width: 400px; /* 이미지 너비를 400px로 증가 */
  max-height: 400px; /* 이미지 높이를 400px로 증가 */
  object-fit: contain; /* 이미지를 비율에 맞게 채우면서 자르기 */
  margin: 10px auto; /* 상하 좌우 여백 조정 */
  box-shadow: 5px 5px 5px #666; 
  display: block;
}


.imageDetails {
  position: relative; /* 좋아요 버튼 위치 조정을 위해 부모를 상대 위치로 설정 */
  text-align: left; /* 텍스트 좌측 정렬 */
  font-size: 16px; /* 기본 텍스트 크기 증가 */
  line-height: 1.8; /* 줄 간격 조정 */
  width: 400px; /* 텍스트 최대 너비 제한 */
  border: 7px double #b39c59;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
} 



.imageDetails p {
  display: flex; /* 줄 사이 간격 균일하게 배치 */
  justify-content: space-between; /* 텍스트와 값 사이 간격 */
  gap: 10px; /* 라벨과 값 간격 조정 */
}



.artistMoveButton {
  margin-left: 30px;
  width: 95px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #B39C59;
  background-color: #B39C59;
  color: white;
  border-radius: 50px;
  text-align: center;
  float: right;
}

.artistMoveButton:hover {

  cursor: pointer;
}

.imageTitle {
  /* margin-left: 90px; */
  color: #b39c59;
  font-size: 22px; /* 제목 크기 증가 */
  font-weight: bold;
  margin-bottom: 15px; /* 여백 추가 */
  text-align: center;
}

.smallImageBox {
  width: 370px;
  align-items: center;
  margin-right: 100px;
}

.likeButton {
  display: block;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  padding-top: 20px;
}

.likeIcon {
  width: 32px; /* 아이콘 크기 */
  height: 32px;
  object-fit: contain;
}

.imageSeparator {
  border: none;
  height: 2px;
  background-color: #b39c59;
  margin: 20px auto;
  width: 100%;
}

.largeImageArea {
  margin: 20px auto;
}

.largeImage {
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #666; 
  margin: 0 auto;
  display: block;

}

.artDescription {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border: 1px solid lightgray;
  text-align: center;
  font-weight: bold;
}

.descriptionBox {
  width: 900px;
  border: 1px solid #c1c1c1;
  text-align: left;
  background-color: #F5F5F5;
  padding: 10px;
  white-space: pre-wrap;
  margin-top: 3px;
  margin-bottom: 100px;
  border-radius: 2px;
}

.descriptionBoxContent {
  padding: 20px; /* 글씨 주변에 상하좌우 패딩 */
  text-align: justify; /* 텍스트 정렬 (선택 사항) */
  line-height: 1.6; /* 줄 간격 (선택 사항) */
}