.bar {
    margin-bottom: 20px;
    text-align : "left"; 
    width: 1500px;
    height: 2px;
    background-color: #b39c59;
}
   
.container {
      
    margin:20px auto;
    padding:0;
    width: 1500px;
 }
.listposition{
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 1650px;
}
.titlename{

    margin: 68px 0px 18px 0px;
}

.listcategory{

    margin-left:200px;
    border-radius:10px;
    border-color:#b39c59;
    height:30px;
    width:100px;
    font-size:15px;
    text-align: center;
}

.listtype{

    margin-left:10px;
    border-radius:10px;
    border-color:#b39c59;
    height:30px;
    width:100px;
    font-size:15px;
    text-align: center;
  
}
.listsearch{
    
    margin-right:10px;
    border-radius:10px;
    border-color:#b39c59;
    height:30px;
    width:100px;
    font-size:15px;
    text-align: center;
  
}
.saleList{

    display:inline-flex;
    flex-wrap:wrap;
    width: 1450px;
    padding: 10px 210px;
}

.artworks{
    margin: 20px 20px;
    border: 3px solid lightgray; 
    height: 400px;
    width: 315px;
    border-radius:1px;
    background-color: lightgray;
    
}
.arkworktle{
    margin: 20px 20px;
    width: 270px;
    height: 270px;
    text-align: center;
    border:2px solid black; 
}

.arkworkimg{
    width: 270px;
    height: 270px;
}
.artworkcontentslist{
    margin: 0px 20px;
    width: 270px;
    height: 65px;
    background-color: white;

}
.artworkcontent{
    size : 20px;
}

.seemore{
    size : 20px;
    text-align: center;
}



/* 판매결제 */
.userInfo{
    margin: 0px 300px;
    width: 1400px;
    display: flex;;
    float: left;
    font-size: 20px;

}
.userInfoButton{
    margin-left: 156px;

}
.userInfoButtonstyle{
    
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    border-color: #9f9f9f;
    background-color: white;
}

.userInfoButtonstylechoice{
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    border-color: #b39c59;
    background-color: black;
    color: #b39c59;
}


.deltailorder{
    margin: 0px 200px;
    display: inline-flex;
    width: 1400px;
    align-items: flex-end;
    justify-content: space-around;
    
}
.deltailorderLeft{
    border: 1px solid #b39c59;
    border-radius: 10px;
    width: 500px;
    padding: 5px;
    display: inline-table;
}
.imgInfo{
    margin-left: 10px;
    width:  20px;
    height: 20px;

}
.deltailorderLefttilte{
    width: 60px;
}
.deltailorderLefrcontent{
    padding: 10px;
    border-radius: 20px;
}

.deltailordertotalprice{
    width: 500px;
    margin-left: 50px;
    border: 1px solid #b39c59;
    display: inline-flex;
}
.deltailordertotalpricetbody{
    width: 400px;

}
.deltailordertotalpriceleft{
    display: inline-block;
    padding: 2px;
    margin-left: 50px;
    text-align: left;
    font-size: 15px;
}
.detaildiv{
    text-align: center;
    margin: 50px auto;
}
.detailbottombutton{
    color: #b39c59;
    background-color: black;
    width: 150px;
    height: 50px;
    font-size: 20px;   
}

.artworkmiddle{
    border: 1px solid #b39c59;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    text-align: center;
    padding: 5px 0px 0px 0px;

}
.artworknameBlankSpace{
    width: 100px;
}

.artworkInfobackground{
    margin-top: 50px;
    margin-left: 300px;
    border: 1px solid #9f9f9f;
    width: 1250px;
    height: 220px;
    background-color: #f9f9f9;
}


.artworkInfoButton{
    text-align: center;
    margin-top: 30px;
    margin-left: 860px;
    width: 300px;
}

.artworkInfoButtonDetail{
    width: 200px;
    height: 50px;
    border-color: #b39c59;
    background-color: black;
    color: #b39c59;
    font-size :20px;
}

.artworksearch{
    width: 450px;
    height: 300px;
}

.title{
    width: 300px;
    white-space: nowrap;  
    overflow: hidden;   
    text-overflow: ellipsis; 
}




