/* <장바구니> */
.bar {
    margin-bottom: 20px;
    text-align : "left"; 
    width: 1200px;
    height: 2px;
    background-color: #b39c59;
  }
.container {
    margin:50px auto;
    padding:0;
    width: 1200px;
}
.cartTable {
    width: 1200px;  /* 총 테이블 너비를 1520px로 설정 */
    border-collapse: collapse;
  }
  
  .tableHeader {
    background-color: #f4f4f4;
  }
  
  
  
  /* 상품들의 테두리 스타일 */
  .cartTable tr {
    border-bottom: 1px solid #b39c59; /* 각 상품 아래에 3px 줄 추가 */
  }
  
  .cartTable tr:first-child {
    border-top: 3px solid #b39c59; /* 첫 번째 상품 위에 5px 줄 추가 */
  }
  
  .cartTable tr:last-child {
    border-bottom: 3px solid #b39c59; /* 마지막 상품 아래에 5px 줄 추가 */
  }
  
  /* 각 열의 너비를 설정 */
  .cartTable th, .cartTable td {
    padding: 10px;
    vertical-align: middle;
   
  }
  
  .cartTable th:nth-child(1), .cartTable td:nth-child(1) {
    width: 5%; /* 선택 열 */
  }
  
  .cartTable th:nth-child(2), .cartTable td:nth-child(2) {
    width: 15%; /* 이미지 열 */
  }
  
  .cartToptionable th:nth-child(3), .cartTable td:nth-child(3) {
    width: 20%; /* 상품 정보 열 */
  }

  .cartToptionable th:nth-child(4), .cartTable td:nth-child(4) {
    width: 5%; /* 수량 열 */
  }
  
  .cartTable th:nth-child(5), .cartTable td:nth-child(5) {
    width: 30%; /* 옵션 열 */
  }
  
  .cartTable th:nth-child(6), .cartTable td:nth-child(6) {
    width: 17%; /* 상품 금액 열 */
  }
  
  .cartTable th:nth-child(7), .cartTable td:nth-child(7) {
    width: 8%; /* 배송비 열 */
  }
  

  
  /* 상품 이미지 스타일 */
  .titleColumn , .imageColumn{
    text-align: center;
  }
  
  .imageColumn img{
    max-width: 120px;
    height: 120px;
    object-fit: contain;
  }
  
  .summarySection {
    margin: 20px 0px; /* 양쪽에 200px 마진 적용 */
    background-color: #f9f9f9;
    width: 1200px;
    padding: 15px 0px;
    border: 1px solid #ddd;
  }
  
  .summarySection div {
    margin-bottom: 5px;
  }
  
  .topBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0px;

  }
  .topButton{
    /* margin-left: 385px; */
    width: 100px;
  }
  
  .selectAllCheckbox {
    display: flex;
    align-items: center;
    width: 200px;
  }
  
  .selectAllCheckbox input {
    margin-right: 5px;
  }
  
  .cartListButton {
    margin:10px;
    cursor: pointer;
    padding: 8px 15px;
    background-color: #b39c59;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
  }
   .cartListTopButton{
    cursor: pointer;
    padding: 8px 15px;
    background-color: #b39c59;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 910px;
   }


  .pricetile{
    display: inline-flex;
    width: 1200px;
  }
  .productPrice{
    padding-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    
  }
  .priceMiddle{
    width: 50PX;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    display: inline-flex;
    margin-left: 50PX;

  }

  .totalPriceMiddle{
    text-align: center;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
    color: #b39c59;
  }

  .priceMiddleButton{
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #b39c59;
    border-color: #b39c59;
    color: white;
    cursor: pointer;
    padding: 8px 15px;
    font-weight: bold;
    justify-content: flex-end; /* 버튼을 오른쪽 끝으로 배치 */
  }

  .priceMiddleButton:disabled {
    border:none;
    background-color: #bbbbbb;
    color: white;
  }

  .priceMiddleButton:disabled:hover {
    cursor: default;
}

  .optionContent  {
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden;    /* 넘친 부분 숨기기 */
    text-overflow: ellipsis; /* 넘칠 경우 '...'으로 표시 */
    display: inline-block;
    width: 100px;
    text-align: left;
  }

.itemTitle{
  width: 110px; 
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden;    /* 넘친 부분 숨기기 */
  text-overflow: ellipsis; /* 넘칠 경우 '...'으로 표시 */
  display: inline-block;
  text-align: left;
  
  
}
.optionAlign{
  text-align: center;
}
.optionItem {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.optionPriceStyle{
  width: 120px; 
  text-align: left;
  display: inline-block;
}
.falseButton{
  
  padding: 8px 15px;
  background-color: white;
  border: none;
  color: white;
  
}

.priceMiddlewidth{
  width: 150px;
  display: inline-flex;
  margin-right: 10px;
  justify-self: auto;
  flex-direction: row-reverse;
}
.priceMiddletotalpricetitle{
  width: 150px;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: #b39c59;
}

.priceMiddletotalprice{
  width: 200px;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: #b39c59;
  margin-left: 30px;
}