.container {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
}

.sideNav {
    flex-shrink: 0;
    width: 250px;
}

.myUploadedFundingDetilOutForm{
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    min-height: 780px;
}


.myUploadedFundingDetail {
    flex: 1;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
}



.myUploadedFundingDetail {
    /*max-width: 900px;*/
    /*padding-top: 50px;*/
    /*margin: 0 auto;*/
}

.myUploadedFundingDetail h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fundingInfo {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #e0d5b8;
    padding: 20px;
    border-radius: 8px;
    /*background-color: #f9f7f4;*/
    margin-bottom: 20px;
}

.fundingImage {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.fundingDetails h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.fundingDetails p {
    margin: 5px 0;
    font-size: 14px;
}

.fundingDetailsGoal{
    color: #b29c59;
    font-weight: bold;
}


.fundingDetails{
    flex: 1;
}
.fundingDates{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}


.fundingDates p {
    font-size: 14px;
}

.startDate{
    font-weight: bold;
    color: #b29c59;
}

.endDate {
    font-weight: bold;
    color: #b29c59;
}

.contributorsList {
    border: 1px solid #e0d5b8;
    border-radius: 8px;
    /*background-color: #f9f7f4;*/
    overflow-x: auto;
}

.contributorsList table {
    width: 100%;
    border-collapse: collapse;
}

.contributorsList th{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #b29c59;

}
.contributorsList td {
    padding: 10px;
    text-align: center;
    font-size: 14px;

}

.contributorsList th {
    font-weight: bold;
    background-color: #333;
}

.contributorsList td {
    border-top: 1px solid #b29c59;
}

.contributorsList tr:nth-child(even) {
    background-color: #f9f9f9;
}


.noData {
    text-align: center;
    color: #999;
    font-size: 16px;
    margin-top: 20px;
}