.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 125px;
}
a {
    text-decoration: none;
}
.moa {
    font-size: xx-large;
    font-style: italic;
    color: #B39C59;
    font-weight: bold;
}
.login {
    display: block;
    color: #B39C59;
}
.navmenu {    
    list-style: none;
    align-items: center;
    vertical-align: middle;
}
.navmenu ul {
    margin: 0;
    padding: 0;
    width: 500px;
}
.navmenu li {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0;
    margin: 10px;
    color: #B39C59;
    font-weight: 600;
}
.navmenu a {
    color:#B39C59;
    text-align:center;
}
#submenu {
    list-style: none;
    display: none;
    opacity: 0;
    position:absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
}
#submenu li {
    display: block;
    margin: 0;
    padding: 5px;
    border: 1px solid #B39C59;
    background-color: white;
    text-align: center;
    align-items: center;
    width:70px;
}

li:hover #submenu {
    opacity: 1;
    display: block;
}
