

.myPageSaleList {
    font-family: Arial, sans-serif;
    align-items: stretch;
    display: flex;
    margin: 0 auto;
   
}
.myPageSaleListRight{
   /* display: inline;
   margin-top: 100px;
   margin-left: 500px; */
   width: 1200px;
   margin:0px auto;
   padding: 50px;
   
}
.myPageSaleList h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.myPageSaleListTabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
   
}

.myPageSaleListTabs button {
    padding: 10px 20px;
    border: 1px solid #B39C59;
    border-radius: 20px;
    background-color: #B39C59;
    color: white;
    cursor: pointer;
}

.myPageSaleListTabs button.active {
    background-color: white;
    border: 1px solid #B39C59;
    color: black;
}



.active {
    background-color: white;
    color: #fff;
    border: 1px solid #B39C59;
    color: black;
}



.myPageSaletopbar{
    display:inline-block;
}

.myPageSaleListList {
    border-top:2px solid #b29c59;
    /* height: 500px; */
}

.myPageSaleListItem {
    display: flex;
    align-items: center;
    border: 1px solid #b29c59;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    /*background-color: #f9f7f4;*/
}

.myPageSaleListItemItemImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.myPageSaleListItemItemDetails{
    display: flex;
}


.myPageSaleListItemItemDetails h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
    width: 500px;
    
}

.myPageSaleListItemItemDetails p {
    margin: 5px 0;
    font-size: 14px;
    color: #5d4a00;
    width: 250px;
    padding-left: 10px;
}

.myPageSaleListPagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.myPageSaleListPagination button {
    padding: 8px 12px;
    border: none;
    background-color: #f9f7f4;
    color: #5d4a00;
    cursor: pointer;
}
.dateFilters{
    display: flex;
}
.myPageSaleListPagination button.active {
    font-weight: bold;
    color: #B39C59;
}
.dateFilterStart{
    margin-top: 10px;
    margin-left: 180px;
    align-items: center;
}
.dateFilterEnd{
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
}

.orderDateFilterStart{
    margin-top: 20px;
    margin-left: 750px;
    align-items: center;

}
.orderDateFilterEnd{
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;

}