.container {
    display: flex; 
    margin-top: 0; 
    align-items: stretch;
}

.qnabody{
    margin:50px auto;
    width: 1000px;
    height:728px;
    position:relative;
}

.bar {
    border: none;
    height: 2px;
    background-color: #B39C59;
}

.buttonTabs {
    display: flex;
}
.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    margin-right:20px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.whitebutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    margin-right:20px;
    border: 1px solid #B39C59;
    background-color: white;
    color: #B39C59;
}
.goldbutton:hover , .whitebutton:hover {
    cursor: pointer;
}

.messageDate {
    float: right;
}
.questionList {
    display: block;
    margin-top:10px;
    height: 500px;
    overflow-y: auto;
}
.question {
    border: 1px solid #B39C59;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}
.questionTitle:hover {
    cursor: pointer;
}

.pagenationBox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    margin:0 auto
}

  /* 페이지네이션 */
.messagePagination {
    display: flex;
    margin:20px auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
  
.messagePagination button {
    padding: 8px 12px;
    border: none;
    color: #5d4a00;
    cursor: pointer;
  }
  
.messagePagination button.active {
    font-weight: bold;
    color: #b84700;
  }



.notAnswered {
    width:600px;
    height:300px;
    padding:30px;
    position:relative;

    /* 모달창 디자인 */
    background-color: white;
    border: 1px solid #B39C59;
    border-radius: 10px;
}

.answered {
    width:600px;
    height:600px;
    padding:30px;
    position:relative;

    /* 모달창 디자인 */
    background-color: white;
    border: 1px solid #B39C59;
    border-radius: 10px;
}
.notAnswered h3, .answered h3 {
    text-align: center;
    color: #B39C59;   
}
.close {
    display: inline;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
}
.close:hover {cursor: pointer;}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
}

.notAnswered input, .answered input {
    width:579px;
    border:1px solid #B39C59;
    border-radius: 10px;
    margin:10px auto;
    padding:5px 10px 5px 10px;
}
.notAnswered textarea, .answered textarea {
    margin-top:10px;
    width:559px;
    height:100px;
    resize: none;
    border:1px solid #B39C59;
    border-radius: 10px;
    padding:20px;
    overflow-y: auto;
}
.notAnswered input:focus, .answered textarea:focus {
    outline: none;
}

.answerTitle {
    margin-top:50px
}

