.container {
    max-width: 24rem;
    margin: 0 auto;
    margin-top: 150px;
    padding: 1rem;
    background-color: white;
    color: #4a4a4a;
    text-align: center;
    border: 2px solid #B39C59;
    box-sizing: border-box; 
}

.title {
    font-size: 1.875rem;
    font-weight: bold;
    color: #b39c59;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #b39c59;
    margin-bottom: 0.5rem;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #b39c59;
    margin-bottom: 1.5rem;
}

.inputGroup {
    margin-bottom: 1.5rem;
    width: 100%;
}

.label {
    display: block;
    color: #b39c59;
    margin-bottom: 0.5rem;
    text-align: left;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #b39c59;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    color: #4a4a4a;
    margin-bottom: 1rem; /* 입력 필드 간 간격 */
}

.shortInput {
    width: 95%;
    margin: 5 auto;
}

.titleWithButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative; /* 버튼 위치를 조정하기 위한 설정 */
}

.smallButton {
    padding: 0.25rem 0.75rem;
    border: 2px solid #b39c59;
    color: #b39c59;
    border-radius: 0.5rem;
    background: none;
    cursor: pointer;
    position: absolute;
    top: -5px; /* 버튼을 위로 10px 이동 */
    right: 0; /* 오른쪽 정렬 */
}

.smallButton:hover {
    background-color: #b39c59;
    color: white;
}

.alignCenter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    
}

.primaryButton {
    padding: 0.5rem 2.5rem;
    background-color: #b39c59;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    flex: 1;
    text-align: center;
    width: 100%; /* 버튼이 컨테이너 너비에 맞게 확장 */
    max-width: 15rem; /* 최대 버튼 크기 제한 */
}

.primaryButton:hover {
    background-color: #9d8652;
}
