.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin:50px auto;
}

.loginSideText h2 {
  margin-right: 150px;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  font-size: 70px;
  color: #b39c59;
  line-height: 1.5;
  white-space: nowrap;
}

.loginBox {
  width: 350px;
  padding: 30px;
  border: 3px solid #b39c59;
  border-radius: 0px;
  background-color: #ffffff;
  text-align: center;
  
}

.loginTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #b39c59;
  font-weight: bold;
  font-style: italic;
}

.inputLabel {
  display: block;
  margin: 10px 0 5px;
  color: #b39c59;
  font-weight: bold;
  text-align: left;
  width: 100%; /* 부모 요소 너비에 맞게 설정 */
  max-width: 95%; /* inputBox와 동일한 너비 */
  box-sizing: border-box; /* 패딩 포함 너비 계산 */
  padding-left: 5px; /* 왼쪽 정렬 여백 */
  
}


.inputBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #b39c59;
  border-radius: 10px;
  box-sizing: border-box; /* 패딩 포함 너비 계산 */

}

.loginButton,
.signupButton,
.findButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* 로그인 버튼 상단 간격 추가 */
  margin-bottom: 10px;
  background-color: #b39c59;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
}

.findOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.findButton {
  width: 48%;
  padding: 10px;
  background-color: #b39c59;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
}

.socialLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;}

.socialButton {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
}

.naverImage {
  width: 100%; /* 원하는 너비로 설정 */
  height: auto; /* 비율 유지 */
  display: block;
}