.container {
    width: 1200px;
    margin:30px auto;
    padding:0;
}
.banner {
    background-image: url(../../../public/img/banner.png);
    background-size: cover;
    border-radius: 20px;
    width: 1200px;
    height: 468px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:20px auto;
}
.white {
    color:white;
}
.gold { 
    color: #b39c59;
}
.italic {
    font-style: italic;
}

.mainartwork{
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
}
.mainArtImg {
    /* width:800px; */
    height: 600px;
    object-fit: contain;
    box-shadow: 3px 3px 3px #666;
}
.artworkbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.artwork {
    display: flex;
    width: 270px;
    height: 270px;
    vertical-align:middle;
    background-color: #ececec;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.artImg {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    box-shadow: 3px 3px 3px #666;
}


.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.goldbutton {
    width: 95px;
    height: 38px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:hover {
    cursor: pointer;
}
.fundingImg {
    width: 290px;
    height: 400px;
    display: flex;
    border-bottom:#ececec 1px solid;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.fundingBox {
    display: flex;
    justify-content: space-between;
}
.fundingBox article {
    outline: 1px solid #ececec;
}
.fundingImg img {
    max-width: 290px;
    max-height: 390px;
    object-fit: contain;
}
.fundingInfo {
    margin:0 auto;
    padding:10px;
}

.fundingImg:hover , .artImg:hover, .mainArtImg:hover {
    cursor: pointer;
}

.progressbar {
    background: none repeat scroll 0 0;
    border-radius: 25px 25px 25px 25px;
    border: #B39C59 1px solid;
    height: 10px;
    margin: 10px 0 20px;
    overflow: hidden; /* remove padding and add me */
}
.progressbar > span {
    background-color: #B39C59;
    border-radius: 25px 25px 25px 25px; /* change me */
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.bar {
    border: none;
    height: 2px;
    background-color: #B39C59;
}