.container {
    width: 1500px;
    margin:50px auto;
    padding:0;
}
.headerText {
    width: 1500px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}
.faq {
    display: inline-block;
    width: 1240px;
    margin-left: 130px;
}
.noticeList {
    align-items: center;
}

.date {
    float: right;    
}
.container ul {
    padding-inline-start: 0;
}

.noticeList ul li {
    padding:20px;
    margin:10px auto;
    list-style: none;
}
.noticeList ul li:hover {
    border:#B39C59 2px solid;
    cursor: pointer;
}

.notice {
    margin:10px;
    background-color: #f0f0f0 ;
    padding: 5px 20px 5px 20px;
    border: #B39C59 2px solid;
    display: none;
}
.notice:hover {
    cursor: none;
}

.notice {
    padding: 10px;
    text-align: left;
}
.more {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width:44px;
    height: 44px;
    border: #B39C59 1px solid;
    border-radius: 50%;
    margin:0 auto;
}
.more:hover {
    cursor: pointer;
}

.question {
    float: right;
    width: 130px;
    height: 38px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
    align-self: center;
}
.questionbox {
    display:inline-block;
    vertical-align: middle;
}
.question:hover {
    cursor: pointer;
}

.bar {
    border: none;
    height: 2px;
    background-color: #B39C59;
}
.goldbutton {
    width: 95px;
    height: 38px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}