.container {
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    margin:0;
    padding:0;
}

.regList {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px 30px 50px 30px;
    text-align: center;
    width: 600px;
    padding:10px
}
.regList table{
    width:100%;
    border-collapse: collapse;
    border-spacing:4px 4px;
}
.regList table tbody{
    max-height: 600px;
    overflow-y:scroll;
}
.regList table thead tr{
    border-bottom: 2px solid #B39C59;
    border-top: 2px solid #B39C59;
}

.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:hover {
    background-color: white;
    color: #B39C59;
    cursor: pointer;
}

.artDetail {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px auto;
    width: 800px;
    padding: 10px 20px 20px 20px;
}
.artDetail h3 {
    text-align: center;
}
.artwork {
    width: 400px;
    height: 400px;
    vertical-align:middle;
    background-color: #ececec;
    margin:0 auto;
}
.artImg {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.artDetail textarea {
    display: block;
    margin:10px auto;
    width: 760px; 
    height: 150px;
    resize: none;
    border: #B39C59 1px solid;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}