.container {
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    margin:0;
    padding:0;
}

.regList {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px 30px 50px 30px;
    text-align: center;
    width: 400px;
    padding:10px
}
.regList table{
    width:100%;
    border-collapse: separate;
    border-spacing: 5px;
}
.regList table tbody{
    max-height: 600px;
    overflow-y:scroll;
}
.regList table thead tr{
    border-bottom: 2px solid #B39C59;
    border-top: 2px solid #B39C59;
}
/* .regList table tbody tr {
    padding: 10px 5px;
}  */

.registItem {
    height: 40px;
    margin-top:4px;
    border-radius: 10px;
    cursor: pointer;
    outline: solid 1px transparent;
    transition: outline-color 0.3s;
}
.registItem:hover {
    outline-color: #B39C59;  
}

.fundingItem:hover {
    cursor: pointer;
}

.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:hover {
    background-color: white;
    color: #B39C59;
    cursor: pointer;
}

.regDetail {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px auto;
    width: 1000px;
    padding: 20px;
}
.regDetail h4 {
    text-align: center;
}

.imgBox {
    width: 100px;
    height: 100px;
    border: #B39C59 1px solid;
    border-radius: 10px;
}
.info {
    width: 60%;
    margin-left: 40px;
    text-align: center;
    height: 100px;
    
}
.info tr {
    height: 20px;
} 
.detailTitle, .detailContent {
    margin:10px auto;
}



.questionDetail input {
    width : 100%;
}


.detailLeftBox {
    width: 40%;
    height: 600px;
    padding:0;
}

.detailRightBox {
    width: 55%;
    height: 600px;
    
    padding:0;
}
.bar {
    border: none;
    
    height: 2px;
    background-color: #B39C59;
}
.goalAmount {
    width: 100%;
    font-size: 16px;
    border: 0;
    text-align: center;
    border-radius: 10px;
    outline: 1px solid #B39C59;
    background-color: rgb(233, 233, 233);
}
.optionText {
    font-size: 14px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    
}
.fundingPeriod {
    width: 100%;
    text-align: center;
    
}
.fundingPeriod th {
    font-weight:normal;
}
.fundingPeriod td {
    border: #B39C59 0.5px solid;
    border-radius: 10px;
}
.rewardListContainer{
    width: 100%;
    height: 300px;
    align-items: center;
    overflow-y: auto;
}
.rewardList {
    table-layout: fixed;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    
    border-collapse: separate;
    border-spacing:0px 10px;
    text-align: center;
}

.rewardList > tbody > tr {
    background-color: rgb(233, 233, 233);
    height: 30px;
    font-size: 14px;
}
.rewardList th {
    font-size: 14px;
}

.gold {
    color: #B39C59;
}
.fundingDescription {
    width: 100%;
    height: 370px;
    resize: none;
    border: #B39C59 1px solid;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;

}
.imglist {
    width:100%;
    height: 180px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;

}
.fundingImage {
    margin:8px;
    max-width:160px;
    max-height: 160px;
    object-fit: contain;
}

.selectedFunding {
    outline: 1px #B39C59 solid;
}


.fundingDescription::-webkit-scrollbar {
    width: 6px;
    
}

.fundingDescription::-webkit-scrollbar-track { 
    background-color: whitesmoke;
}

.fundingDescription::-webkit-scrollbar-thumb { 
    background-color: #B39C59;
}

.fundingDescription::-webkit-scrollbar-button {
    display: none;
}

.fundingDescription::-webkit-scrollbar-track,
.fundingDescription::-webkit-scrollbar-thumb {
    border-radius: 5px;
}