.sidebar {
    width:280px;
    margin:0;
    padding:0;
    background-color: white;
    border-right: #b39C59 1px solid;
}

.sidehead {
    text-align: center;
}
.sidehead h1 {
    color: #b39C59;
    font-style: italic;
}
.sidehead h1:hover {
    cursor: pointer;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    border-bottom:1px solid #b39C59;
    padding:10px 0px 0px 0px;
}

.sidemenu:hover {
    background-color:#d4ba6b ;
    cursor: pointer;
}

.active {
    background-color:#b39C59 ;
}