.container {
    display: flex;
    background-color: whitesmoke;
    height: 100vh;
    margin:0;
    padding:0;
}

.questionList {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px 30px 50px 30px;
    text-align: center;
    width: 300px;
    padding:10px;
    height:837px;
}
.questionList table{
    width:100%;
    border-spacing: 10px 10px;
}
.questionList table tbody{
    display:block;
    width: 100%;
    max-height: 600px;
    overflow-y:auto;
}
.questionList td {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title {
    text-align: left;
    margin-left: 10px;
    width: 50%;
}
.date {
    text-align: right;
}
.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:hover {
    background-color: white;
    color: #B39C59;
    cursor: pointer;
}

.questionDetail {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px 20px 20px 30px;
    width: 750px;
    padding:10px 30px 0 30px;
    height: 847px;
    text-align: left;
}
.questionDetail h4 {
    text-align: center;
}
.detailTitle, .detailContent {
    margin:10px auto;
}

.questionDetail input {
    width : 740px;
    border:1px solid #B39C59;
    border-radius: 10px;
    padding:5px;
}
.questionDetail textarea {
    width: 710px;
    height: 165px;
    resize: none;
    border:1px solid #B39C59;
    border-radius: 10px;
    padding:20px;
}


.questionList table tbody::-webkit-scrollbar {
    width: 6px;
}

.questionList table tbody::-webkit-scrollbar-track { 
    background-color: whitesmoke;
}

.questionList table tbody::-webkit-scrollbar-thumb { 
    background-color: #B39C59;
}

.questionList table tbody::-webkit-scrollbar-button {
    display: none;
}

.questionList table tbody::-webkit-scrollbar-track,
.questionList table tbody::-webkit-scrollbar-thumb {
    border-radius: 5px;
}