.container {
    display: flex;
    background-color: whitesmoke;
    margin:0;
    padding:0;
    height: 100%;
}
.listBox {
    height: 500px;
    overflow-y: auto;
}
.frameTable, .registTable {
    table-layout: fixed;
}
.frameTable {
    max-height: 500px;
    overflow-y: auto;
}


.tableBox {
    height: 100px;
}
.frameList {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px auto;
    text-align: center;
    width: 1530px;
    padding:10px
}
.frameTable {
    width:100%;
    max-height: 500px;
    border-spacing:0;
    border-collapse: separate;
}
.registTable {
    width:100%;
    border-spacing:4px 4px;
    border-collapse: collapse;
}
.frameTable tbody{
    max-height: 650px;
    overflow-y:scroll;
}
.frameTable thead th , .registTable thead th{
    border-bottom: #B39C59 2px solid;
    border-top: #B39C59 2px solid;
    background-color: white;
    position:sticky;
    top:0
    
}
.frameList td, .registTable td {
    height: 40px;
    
}
.editTd {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    
    word-break:break-all;
}



.tableBox input {
    border: #B39C59 1px solid;
    border-radius: 5px;
}
.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.editbuttonDiv {
    margin:20px;
    display: flex;
    vertical-align: middle;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:hover, .editbutton:hover {
    background-color: white;
    color: #B39C59;
    cursor: pointer;
}

.select {
    box-sizing: border-box;
    width: 100px;
    padding: 4px;
    font-size: 14px;
    border-radius: 6px;
  }
  
.option {
    padding: 4px;
    font-size: 14px;
    color: #fff;
    background: #272822;
  }



.customSelect {
    position: relative;
    display: inline-block;
}

.customSelect select {
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    appearance: none; /* 기본 드롭다운 화살표 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 30px 5px 10px;
}

.customSelect::after {
    content: "▼";
    font-size: 12px;
    color: #939090;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.editInput {
    width: 80px;
    border-radius: 5px;
    border: #B39C59 1px solid;
}