.container {
    display: flex;
    background-color: whitesmoke;
    margin:0;
    padding:0;
    height: 100%;
}
.tableBox {
    height: 650px;
}
.itemList {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px auto;
    text-align: center;
    width: 1530px;
    padding:10px
}
.itemList table{
    width:100%;
    max-height: 650px;
    border-spacing:4px 4px;
    border-collapse: collapse;
}
.itemList table tbody{
    max-height: 650px;
    overflow-y:scroll;
}
.itemList table thead tr {
    border-bottom: #B39C59 2px solid;
    border-top: #B39C59 2px solid;
    
}
.itemList td {
    height: 40px;
}



.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:disabled {
    border:none;
    background-color: #bbbbbb;
    color: white;
    
}

.goldbutton:disabled:hover {
    cursor: default;
}
.goldbutton:hover {
    cursor: pointer;
}

.option {
    padding: 4px;
    font-size: 14px;
    color: #fff;
    background: #272822;
  }

.customSelect {
    position: relative;
    display: inline-block;
}

.customSelect select {
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    appearance: none; /* 기본 드롭다운 화살표 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 30px 5px 10px;
}

.customSelect::after {
    content: "▼";
    font-size: 12px;
    color: #939090;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}