.container {
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    margin:0;
    padding:0;
}

.questionList {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px 20px 50px 20px;
    text-align: center;
    width: 300px;
    padding:10px;
    height:837px;
}

.dateSelect input[type="date"] {
    width: 95px;
    padding: 4px;
    border: 1px solid #B39C59;
    border-radius: 8px;
    font-size: 12px;
    color: #495057;
    background-color: #fdfdfd;
    box-sizing: border-box;
    font-weight: normal;
    transition: border-color 0.3s;
}

.dateSelect input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
}
.dateSelect input[type="date"]:focus
{
    border-color: #b39c59;
    outline: none;
}

.dateSelect input[type='date']:focus::before,
.dateSelect input[type='date']:valid::before {
  display: none;
}


.questionList table{
    width:100%;
    border-spacing: 5px 10px;
    
}
.questionList table tbody{
    width: 100%;
    max-height: 700px;
    overflow-y:auto;
}
.questionList tr {
    display: block;
    margin:4px 0;
    border-radius: 10px;

}
.questionList td {
    width: 140px;
    font-size: 14px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title {
    text-align: left;
    margin-left: 10px;
    width: 50%;
}
.title:hover {
    cursor: pointer;
}
.date {
    text-align: right;
}
.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:hover {
    background-color: white;
    color: #B39C59;
    cursor: pointer;
}

.questionDetail {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px 20px 20px 30px;
    width: 750px;
    padding:10px 30px 0 30px;
    height: 847px;
    text-align: left;
}
.questionDetail h4 {
    text-align: center;
}
.detailTitle, .detailContent {
    margin:10px auto;
}

.questionDetail input {
    width : 730px;
    border:1px solid #B39C59;
    border-radius: 10px;
    padding:10px;
}
.questionDetail textarea {
    width: 710px;
    height: 165px;
    resize: none;
    border:1px solid #B39C59;
    border-radius: 10px;
    padding:20px;
}
.questionDetail input:read-only,
.questionDetail textarea:read-only {
    background-color: #f4f4f4;
}
.questionDetail input:focus,
.questionDetail textarea:focus {
    outline: none;
}
.bar {
    border: none;
    height: 2px;
    background-color: #B39C59;
}
.questionList table tbody::-webkit-scrollbar {
    width: 6px;
}

.questionList table tbody::-webkit-scrollbar-track { 
    background-color: whitesmoke;
}

.questionList table tbody::-webkit-scrollbar-thumb { 
    background-color: #B39C59;
}

.questionList table tbody::-webkit-scrollbar-button {
    display: none;
}

.questionList table tbody::-webkit-scrollbar-track,
.questionList table tbody::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.noQuestion {
    width:100%
}
.selected {
    outline: 1px #B39C59 solid;
    
}