.container {
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    margin:0;
    padding:0;
}

.regList {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px 30px 50px 30px;
    text-align: center;
    width: 500px;
    padding:10px
}
.regList table{
    width:100%;
    border-collapse: collapse;
    border-spacing:4px 4px;

}
.regList table tbody{
    max-height: 600px;
    overflow-y:scroll;
}
.regList table thead tr{
    border-bottom: 2px solid #B39C59;
    border-top: 2px solid #B39C59;
}

.buttonDiv {
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.goldbutton {
    height: 38px;
    padding:0 10px 0 10px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #B39C59;
    background-color: #B39C59;
    color: white;
}
.goldbutton:hover {
    background-color: white;
    color: #B39C59;
    cursor: pointer;
}

.regDetail {
    background-color: white;
    border: 1px solid #B39C59;
    margin: 50px auto;
    width: 900px;
    padding: 30px 50px 40px 50px;
    align-items: center;
}
.regDetail h3 {
    text-align: center;
}

.imgBox {
    width: 120px;
    height: 120px;
    border: #B39C59 1px solid;
    border-radius: 10px;
}
.info {
    width: 60%;
    margin-left: 40px;
    text-align: left;
    height: 100px;
    
}
.info tr {
    height: 20px;
} 
.detailTitle, .detailContent {
    margin:10px auto;
}



.questionDetail input {
    width : 100%;
}
.regDetail textarea {
    width: 100%;
    height: 170px;
    resize: none;
    border: #B39C59 1px solid;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}
